
/* Font chinh */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');

/* font logo */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
  padding: 0;
  margin: 0;
}
iframe{
    width: 100%;
}
/* Header */
header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px;
  transition: all 0.3s ease-in-out;
  z-index: 1008;
}
header.sticky{
background: #000;
opacity: 0.9;
padding: 7px;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2;
}
.bin{
  margin: 0 auto;
  max-width: 1200px;
}
.in-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1008;
}
#logo{
  
  color: aliceblue;
  font-size: 25px;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 2;
}
ul#menu{
  display: flex;
}
.logo3{
  display: flex;
  padding:   4px;
}
ul#menu a {
  padding: 0 15px;
  display: block;
  color: aliceblue;
  font-size: 22px;
  font-family: 'Changa', sans-serif;
}
ul#menu a:hover{
text-decoration: underline;
}
/* Phan chinh */
.container{
    padding-top: 65px;
    width: 1300px;
    margin: auto;
    min-height: 800px;
    padding-bottom: 20px;
}
article{
    width: 60%;
    margin: auto;
    min-height: 750px;
    float: left;
}
aside{
    background-image: url(nhumong.jpg);
    background-size: cover; 
    width: 40%;
    margin: auto;
    min-height: 750px;
    float: left;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.text,.row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text{
    padding-top: 50px;
}
.on{
  padding-left: 47px;
}
.text-in{
    margin-left:30px;
}
.text-in h3{
    font-family: 'Barlow Semi Condensed', sans-serif;        
    font-size: 25px;
    line-height: 50px;
}
.ol{
    padding-left: 70px;
}
form{
    padding-top: 20px;
    padding-left: 30px;
}
label{
    font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 22px;
}
.pll{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 270px;
    border: solid #404040 ;
}
.h2l{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 635px;
    border: solid #404040 ;
}
.joni{
    padding: 6px;
    width: 20%;
    border-radius: 5px;
    font-size: 17px;
    border: solid #404040 ;
    background-color:white;
    font-weight: 500;
}
.joni:hover{
    background-color:whitesmoke;
}
/* Phan footer */
footer{
  padding-top: 50px;
  max-width: 100%;
  min-height: 450px;
  /* Chỗ này để màu nền(backgroud) */
  margin: auto;
  clear: both;
}
.foot-top{
  width: 100%;
  min-height: 15px;
  background-color:#AA8A60;
  margin: auto;
  float: left;
}
.foot-top>a>p{
  padding-top: 0px;
  font-family: 'Changa', sans-serif;
  color: #404040;
  font-size: 22px;
}
.foot{
  width: 50%;
  min-height: 230px;

  /* chỗ này cũng để màu nền */
  margin: auto;
  float: left;
}
#foot-in>ion-icon{
  position: relative;
  top: 20px;
  width: 100%;
  font-size: 80px;
  color:#AA8A60;
  animation :quay 3s infinite linear;
}
#foot-in>ion-icon:hover{
  color: #48D1CC;
}
@keyframes quay {
  0%{
      transform:rotate(0deg);
  }
  100%{
      transform:rotate(360deg);
  }
}
#foot-in p{
  padding-top: 30px;
  font-size: 33px;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 2;
}
.foot-icon a ion-icon{
  margin: 15px;
  font-size: 26px;
  color: #AA8A60;
}
.foot-icon a ion-icon:hover{
  color: #48D1CC;
}
.foot-1{
  width: 40%;
  min-height: 230px;
/* Chô này đẻ backgruod */
  margin: auto;
  float: right;
}
#foot-in1{
  padding-right: 150px;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly ;
}
ul#foot-font1 a{
  line-height: 2;
  color: #000000;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}
ul#foot-font1 a:hover{
  color: #48D1CC;
}
#foot-font2{
  font-family: 'Changa', sans-serif;
  color: #404040;
  font-size: 27px;
}
/* Cuối cùng  */
.indo-lop{
  width: 100%;
  min-height: 35px;
  background-color:#AA8A60;
  margin: auto;
  float: left;
}
.indo-lop p{
  padding-top: 3px;
}
.indo-lop span{
  font-family: 'Changa', sans-serif;
  color:whitesmoke;
  font-size: 20px;
  transition: all .5s;
}
.indo-lop > a >p{
  color: #000;
  font-size: 17px;
}
.indo-lop span:hover{
 color:#48D1CC;
}
