.phone-full{
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 360px;
    height: 812px;
}
.phone #user{
    padding-top: 30px;
    padding-left: 10px;
}
.phone #user>a>img:hover{
    border-radius: 100px;
    box-shadow: 0px 0px 20px black;
    background-color: black;
    
}
#bgk{
    background-color:white;
    border-radius: 20px;
    width: 340px;
    height: 90px; 
    margin-top: 30px;
    margin-left:-10px;
}
#bgk>a{
    position: relative;
    font-family:'Lucida Sans';
    font-size: 25px;
    color: black;
    Text-decoration:none;
    top: 30px;
}
#bgk>a:hover{
    color: rgb(14, 191, 231);
    text-decoration: underline;
}
#int{ 
    background-color:white;
    border-radius: 20px;
    width: 340px;
    height: 90px; 
    margin-top: 80px;
}
#int>a{
    position: relative;
    font-family:'Lucida Sans';
    font-size: 25px;
    color: black;
    Text-decoration:none;
    top: 30px;
}
#int>a:hover{
    color: rgb(14, 191, 231);
    text-decoration: underline;
}
#tiktok{
    background-color:white;
    border-radius: 20px;
    width: 340px;
    height: 90px; 
    margin-top: 80px;
}
#tiktok>a{
    position: relative;
    font-family:'Lucida Sans';
    font-size: 25px;
    color: black;
    Text-decoration:none;
    top: 30px;
    left: 25px;
}
#tiktok>a:hover{
    color: rgb(14, 191, 231);
    text-decoration: underline;
}
.logoface{
    position: absolute;
    top: 237px;
    margin-left: 20px;
}
.logoint{
    position: absolute;
    top: 345px;
    margin-left: 20px;
}
.logosound{
    position: absolute;
    top:455px;
    margin-left: 20px;
}
.qrzalo{
    position: absolute;
    top:645px;
    margin-left: 124px;
}
.text{
    line-height: 1.5;
    font-family:'Lucida Sans';
    position: absolute;
    top:565px;
    margin-left: 65px;
}